@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #00674F -50%, #00221A , #B8DBD9 200%);
}

.upload-group {
    display: flex;
    gap: 6px;
}
.calendar {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 1.6rem;
}

.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.month-year {
    flex: 1;
    text-align: center;
    font-weight: 600;
    width: 200px;
    color: #00221A;
}

.days {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    text-align: center;
    padding: 5px;
    color: #00221A;
    font-weight: 500;
}

.dates {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    color: #00221A;
}

.date{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: 0.2s;
}

.date:hover,
.date.active{
    background: #B8DBD9;
    color: #00221A;
}

.date.inactive{
    color: #75938c;
}

.date.inactive:hover {
    background: #ffffff;
}

/*event addition*/
/*
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td:hover {
  background-color: #f5f5f5;
}

*/
